html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
  background-image: url("../assets/stars.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: rgb(166, 226, 202);
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
}
header h1.title {
  font-size: 5rem;
  transition: 0.75s ease-in;
}
header h1.title:hover {
  text-shadow: 20px 15px 8px rgb(166, 226, 202);
}
img {
  height: 300px;
  margin: 20px;
}

@keyframes weirdimages {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img:hover {
  cursor: pointer;
  animation: weirdimages 2s forwards;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.lyrics {
  color: rgba(16, 206, 35, 0.918);
  display: none;
  animation: slideInFade 1.5s ease-out forwards;
  cursor: pointer;
  transition: all 0.4s ease;
}

.lyrics:nth-child(7) {
  animation-delay: 0s;
}
.lyrics:nth-child(8) {
  animation-delay: 1.5s;
}
.lyrics:nth-child(9) {
  animation-delay: 3s;
}
.lyrics:nth-child(10) {
  animation-delay: 4.5s;
}
.lyrics:hover {
  transform: scale(1.5);
}

@keyframes slideInFade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
span {
  display: block;
  background-color: rgba(7, 4, 82, 0.349);
  color: aliceblue;
  /* margin: 20px; */
  width: 100%;

  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* #disclaimer span {
  display: block;
} */

.audio {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin: 20px;
}

.button button {
  display: flex;
  text-align: center;
  margin: auto;
  align-items: center;
  border-radius: 20px;
  font-family: monospace;
  font-size: 1rem;
  margin-bottom: 20px;
  background-color: rgb(223, 15, 22);
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}
.button button:hover {
  background-color: rgb(30, 33, 210);
  transform: scale(1.1);
  box-shadow: 2px 2px 4px white;
}
#result {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(166, 226, 202);
}
