html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
  background-image: url("../assets/stars.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: rgb(166, 226, 202);
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
}
header h1.title {
  font-size: 5rem;
}

img {
  height: 300px;
  margin: 20px;
}

@keyframes weirdimages {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img:hover {
  cursor: pointer;
  animation: weirdimages 2s forwards;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.lyrics {
  color: rgba(16, 206, 35, 0.918);
  display: none;
}
#disclaimer {
  background-color: rgba(7, 4, 82, 0.349);
  color: aliceblue;
  margin-left: 20px;
  width: 100%;

  padding: 4px;

  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* #disclaimer span {
  display: block;
} */

.audio {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin: 20px;
}
